header{
    padding: 20px 80px;
    background-color: rgba(0, 0, 0, 0.229);
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
header p{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}